/* style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}

#controls {
    margin: 20px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

select, input[type="range"] {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    margin-top: 20px;
    border: 2px solid #ddd;
    background-color: #fff;
    width: 80%;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 2px;
    background-color: #3498db;
    color: white;
    font-size: 12px;
    transition: height 0.2s, background-color 0.2s;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bar.highlight {
    background-color: #e74c3c;
}

.bar.sorted {
    background-color: #2ecc71;
}

#description, #complexity-info {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
}

#complexity-info {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

.range{
    display: flex;
    align-items: center;
    justify-content: center;
}